*{
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: rgb(218, 218, 206);
    padding-top: 40px;
}

.main-container{
    max-width: 50rem;
    max-height: 50rem;
    margin: auto;
    background-color: #fff;
    box-shadow: 2px 2px 12px -4px rgba(0,0,0,0.21);
    border-radius: 6px;
}

.list-form{
    background-color: #fff;
    font-weight: 800;
}

.header-bar{
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: #fff;
    background: linear-gradient(0deg, rgb(245, 179, 73) 3%, rgb(239, 182, 9) 43%);
    padding: 10px;
    border-radius: 6px 6px 0 0;
}
.header-bar a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.list-form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-right: 25px; 
}

.list-form-header a{
    text-decoration: none;
    font-size: 45px;
    text-shadow: 1px 1px #81413b;
    color:#81413b;
}

.list-form-header a:hover{
    font-size:50px;
}

.list-form-header input[type=text]{
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    box-shadow: 1px 1px 6px #000000ce;
    font-weight: 800;
}

.list-form-header input[type=text]:focus-visible{
    outline: 1px solid #c6c1c16e;
}

.search-button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(0deg, rgb(245, 179, 73) 3%, rgb(239, 182, 9) 43%);
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 6px #0000009a;
}

.search-button:hover{
    background: linear-gradient(0deg, rgb(192, 141, 58) 3%, rgb(189, 144, 9) 43%);
}

.list-VIP{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 11rem;
    overflow-y: auto;
}

.list-VIP a{
    text-decoration: none;
}

.list-delete{
    text-decoration: none;
    color:rgb(116, 23, 23);
}

.list-delete:hover{
    font-size:20px;
}

.list-VIP-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid rgb(226,226,226)
}

.list-VIP-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.list-VIP-item a{
    color: rgb(194, 179, 10);
}

.list-VIP-item a:hover{
    color:rgb(134, 124, 12)
}

.list-VIP-icon{
    font-weight: 800;
    font-size: 30px;
    margin-right: 2px;
    color: rgba(179, 156, 8, 0.722);
}

.list-form-header{
    display: flex;
    align-items: center;
}

.list{
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    max-height: 20em;
    min-height: auto;
    
}

.list-container{
    min-height: 50rem;
}

.list-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid rgb(226,226,226);
}

.list-content-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.list-content-title a{
    text-decoration: none;
    margin-left: 4px;
}

.list-content-title a:hover{
    color: black;
}

.list-content-imcomplete{
    width: 20px;
    height: 20px;
    background-color:rgb(111, 111, 111);
    border-radius: 50%;
    margin-left: -20px;
}

.list-content-complete{
    width: 20px;
    height: 20px;
    background-color:rgb(38, 170, 15);
    border-radius: 50%;
    margin-left: -20px;
}

.list-form-search{
    margin: 0;
    padding: 1.1em;
    display: flex;
    flex-direction: row;
}

.list-form-search input[type=text]{
    width: 60%;
}

a,
p{
    color:rgb(111, 111, 111)
}

a{
    font-weight: 600;
}

input[type=checkbox]{
    width: 40px;
    height: 20px;
}

input[type=text],
input[type=password],
textarea{
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    box-shadow: 1px 1px 6px #000000ce;
    font-weight: 800;
    width: 90%;
}

.task-edit-form form{
    font-weight: 800;
    padding: 20px;
}

.task-edit-form button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(0deg, rgb(245, 179, 73) 3%, rgb(239, 182, 9) 43%);
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 6px #0000009a;
}

.card-body{
    padding: 20px;
    font-weight: 800;
}

.task-delete strong{
    color:rgb(252, 14, 14);
}

.btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(0deg, rgb(245, 179, 73) 3%, rgb(239, 182, 9) 43%);
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 6px #0000009a;
}

.register-form{
    padding: 20px;
}

.register-form button{
    margin-top: 15px;
}