{% extends "main/base.html" %}

{% block content %}
<div class="team-header-bar">
    <div class="team-header-title">
        <h1>{{request.user}} Invites</h1>
        <a href="{% url 'team-list'%}"><i class="fa-solid fa-left-long"></i>Go Back</a>
    </div>
    <div class="team-header-links">
        <a href="{% url 'tasks'%}"><i class="fa-solid fa-house fa-xl"></i></a>
    </div>
</div>
<div class="team-form">
    <div class="invite-list-elements">
        {% for invite in invites %}
        <div class="invite-element">
            <div class="invite-element-name">
            {{invite.teamID.owner.username.capitalize}} invited you to join {{invite.teamID.name}}
            </div>
            <div class="invite-element-input">
                <input type="button" name="accept" value="Accept" class="team-btn" onclick=location.href="{% url 'accept-invite' invite.id %}" >
                <input type="button" name="deny" value="Deny" class="team-btn" onclick=location.href="{% url 'deny-invite' invite.id %}" >
            </div>
        </div>
            {% endfor %}
    </div>
</div>
{% endblock %}