{% extends 'main/base.html' %}

{% block title %}SignUp Page{% endblock %}

{% block content %}

<div class="header-bar">
    <h1>Sign Up</h1>
</div>
<div class="card-body">
    <div class="register-form">
        <form method="POST">
            {% csrf_token %}
            <label>{{form.username.label}}</label>
            {{form.username}}
            <label>{{form.password1.label}}</label>
            {{form.password1}}
            <label>{{form.password2.label}}</label>
            {{form.password2}}

            <button type="submit" class="btn">Register</button>
        </form>
    </div>

    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endblock %}