{% extends 'main/base.html' %}

{% block title %}
Task List
{% endblock %}

{% block content %}
<div class="list-container">
    <div class="header-bar">
        <div>
            <h1>Welcome {{request.user|title}}</h1>
            <h3>You have <i>{{count}}</i> incomplete task{{count|pluralize:"s"}}</h3>
        </div>
        {% if request.user.is_authenticated %}
        <div class="header-links">
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'team-list'%}"><i class="fa-solid fa-people-group fa-2xl"></i></a>
        </div>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

    <div class="list-form">
        <div class="list-form-header">
            <div class="list-form-search">
                <form method="GET">
                    <input type="text" name="search-area" value="{{search_input}}">
                    <input class="search-button" type="submit" value="Search">
                </form>
            </div>
            <a class="list-form-header-add" href="{% url 'task-create' %}"><i class="fa-solid fa-plus"></i></a>
        </div>
        <div class="list-VIP">
            {% for task in tasks %}
                {% if task.urgent and not task.complete%}
                <div class="list-VIP-content">
                    <div class="list-VIP-item">
                        <div class="list-VIP-icon"><i class="fa-solid fa-star"></i></div>
                        <u><a href="{% url 'task-update' task.id%}">{{task.title}}</a></u>
                    </div>
                    <a href="{% url 'task-delete' task.id %}" class="list-delete">&#10008;</a>
                </div>
                {% endif %}

            {% endfor %}
        </div>
        <div class="list">
            {% for task in tasks %}
            <div class="list-content-wrapper">
                <div class="list-content-title">
                {% if task.complete %}
                    <div class="list-content-complete"></div>
                    <i><s><a href="{%url 'task-update' task.id%}">{{task.title}}</a></s></i>
                {%else%}
                    <div class="list-content-imcomplete"></div>
                    <a href="{%url 'task-update' task.id%}">{{task.title}}</a>
                {%endif%}
                </div>
                <div class="list-content-delete">
                    <a href="{%url 'task-delete' task.id%}" class="list-delete">&#10008;</a>
                </div>
            </div>
            {%empty%}
            <p>Task list is empty</p>
            {%endfor%}
        </div>
            
    </div>
</div>
{% endblock %}