{% extends 'main/base.html' %}

{% block title %}
Team List
{% endblock %}

{% block content %}
<div class="team-container">
    <div class="header-bar">
        <h1>Your Teams</h1>
    </div>

    <div class="team-form">
        <a href="{% url 'tasks' %}">Go Back</a>
        <div class="team">
            {% for team in teams %}
            <a href="{% url 'team-task-list' team.id%}">{{team.name}}</a>
            {%empty%}
            <p>Team list is empty</p>
            {%endfor%}
        </div>
            
    </div>
</div>
{% endblock %}