{% extends 'main/base.html' %}

{% block title %}
Team Task list
{% endblock %}

{%block content%}

    <a href="{% url 'team-list' %}">Go Back</a>
    {% if request.user == myteam.owner %}
    <a href="{% url 'team-invite' myteam.id %}">Invite</a>
    {% endif %}

    {% for task in tasks %}
        <h1>{{task.title}}</h1>
        <a href="{% url 'team-task-update' task.id%}">edit</a>
        {% if request.user == myteam.owner or request.user in moderators %}
        <a href="{% url 'team-task-delete' task.id%}">X</a>
        {% endif %}
    {% endfor %}
    <br>
    {% if request.user == myteam.owner or request.user in moderators %}
    <a href="{% url 'team-task-create' myteam.id %}">Create new task</a>
    {% endif %}
    {% if request.user == myteam.owner %}
    <a href="{% url 'team-detail' myteam.id %}">Edit Team</a>
    {% endif %}
    
{%endblock%}